# Database
DB_HOST="72.62.238.199"
DB_PORT="5432"
DB_NAME="checklist1"
DB_USER="admin"
DB_PASSWORD="Admin@1234"
DATABASE_URL="postgresql://admin:Admin@1234@72.62.238.199:5432/checklist1?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="printseq-secret-key-change-in-production-2026"

# Agent IA (webhook n8n)
N8N_WEBHOOK_URL=""
N8N_USER="multiprint"
N8N_PASSWORD="Admin@1234"
