# Database
DB_HOST="193.43.134.115"
DB_PORT="5432"
DB_NAME="checklist"
DB_USER="eukingeoffrey@gmail.com"
DB_PASSWORD="Admin@1234"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/printseq?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="printseq-secret-key-change-in-production-2026"

# Agent IA (webhook n8n)
N8N_WEBHOOK_URL=""
N8N_USER="multiprint"
N8N_PASSWORD="Admin@1234"
